body {
    margin: 0%;
    background: #fff3f3;
  }

  .Content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chart-container {
    width: 80%;
    margin: 20px 0;
  }

  .Temp {
    padding-right: 15%;
  }